<div class="media-uploader-form-wrapper" data-new-record="<%= f.object.new_record? %>">
  <div class="h-32 max-w-full rounded-sm bg-gray-500 bg-cover" style="background-image: url('PREVIEW_URL')"></div>
  <%= f.hidden_field :file, value: 'SIGNED_ID', class: 'hidden' %>
</div>
