<div class="mt-3">
  <h1 class="font-medium text-xl mb-2"><%= object.name %></h1>

  <div class="text-gray-600 text-sm leading-relaxed max-h-44 overflow-hidden relative [&_p]:mb-3">
    <% if content.thumbnail %>
      <div class="float-right w-32 h-32 overflow-hidden ml-4">
        <%= image_tag content.thumbnail['url'] %>
      </div>
    <% end %>

    <%== content.excerpt %>

    <div class="pointer-events-none absolute bottom-0 left-0 right-0 h-12 bg-gradient-to-t from-white to-transparent"></div>
  </div>
</div>

<%= render(interactions_component) %>
