<div class="pb-3 mb-5 border-b flex items-center sticky -mt-4 top-0 pt-3 bg-white z-10">
  <% if title? %>
    <h1 class="text-xl"><%= title %></h1>
  <% end %>

  <%= left %>

  <%= actions %>
</div>
