.content h1 {
  font-weight: bold;
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}

.content h2 {
  font-weight: bold;
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

.content h3 {
  font-weight: bold;
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

.content h4 {
  font-weight: bold;
}

.content h5 {
  font-weight: bold;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.content h6 {
  font-weight: bold;
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}
